@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.App__header {
    margin-bottom: 30px;
    text-align: center;
}

.App__main {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px 90px 10px;
    box-sizing: border-box;
}

.App__nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
}